
@{
    ViewBag.Title = "cambiodevalor";
}

<br />
<form action="valor" method="post">
    <label>Clave: <input type="text" name="clave" value="" /></label><br />
    <br />
    <label>Valor: <input type="text" name="valor" value="" /></label><br />
    <br />
    <input type="submit" name="enviar" value="Introduzca los valores que desea cambiar" />
</form>
