
@{
    ViewBag.Title = "Conección2";
}

<form action="InserciónDeDatos" method="post">
    <textarea rows="6" cols="50" name="valores">
            </textarea><br />
    <input type="submit" name="enviar" value="Insertar los datos" />
</form>
