
@{
    ViewBag.Title = "Conección";
}

<form action="CrearTabla" method="post">
    <label>Código SQL para crear una nueva Tabla: <input type="text" name="SQLs" value="Escriba aquí" width="5000" /></label><br />
    <input type="submit" name="enviar" value="Crear Tabla" />
</form>
