
@{
    ViewBag.Title = "Conección2";
}

<form action="" method="post">
    <label>Código SQL para el ingreso de datos: <input type="text" name="SQLs" value="Escriba aquí" width="5000" /></label><br />
    <input type="submit" name="enviar" value="Insertar los datos" />
</form>
