
@{
    ViewBag.Title = "Conección";
}


<hr/>
    <div class="col-md-12">
        <form action="CrearTabla" method="post">
            <textarea rows="6" cols="50" name="SQLs">
            </textarea><br />
            <input type="submit" name="enviar" value="Crear Tabla" />
        </form>
    </div>