
@{
    ViewBag.Title = "Menú";
}

<form action="Conección" method="post">
    <input type="submit" name="enviar" value="Creación de Tabla" />
</form>
<br />
<form action="cambiodevalor" method="post">
    <input type="submit" name="enviar" value="Ir a sección de cambio de valor" />
</form>
<br />
<form action="Conección2" method="post">
    <input type="submit" name="enviar" value="Ir inserción de valores en tabla" />
</form>

