
@{
    ViewBag.Title = "PrimeraConección";
}

<form action="CrearBaseDeDatos" method="post">
    <label>Código SQL: <input type="text" name="SQL" value="Escriba aquí" /></label><br />
    <input type="submit" name="enviar" value="Crear Base De Datos" />
</form>


